{% extends 'base.html' %}{% load crispy_forms_tags %}{% block task1 %}{% load static %}
<div class="container">
<form class="row gy-2 gx-3 align-items-center" method="POST">{% csrf_token %}
<div class="mx-auto" style="width: 500px">
{{alo|crispy}}
    <br><center><button type="submit" class="btn btn-outline-success" value="submit">Add task</button></center></div>
</form></div><br>

  {% for a in flask %}
<div class="container py-5">
<div class="mx-auto" style="width: responsive;">
<div class="card text-center bg-dark border-success text-light ">
  <div class="card-header border-primary">
      <b>{{a.oser}}</b>
  </div>
  <div class="card-body border-success">
    <h5 class="card-title">{{a.Task}}</h5>
    <p class="card-text">{{a.details}}</p>
    <a href="{% url 'edit' a.id %}" class="btn btn-outline-success"><ion-icon size="md" name="create-outline">
    </ion-icon>edit</a>
      <a href="{% url 'delete' a.id %}" class="btn btn-outline-danger"><ion-icon size="md" name="trash-outline">Delete</ion-icon>complete</a>
  </div>
  <div class="card-footer text-muted border-primary">
    {{a.date}}
  </div>
</div></div></div>

{% endfor %}

{% endblock %}